body {
    background-color: BlanchedAlmond;
    background-image: linear-gradient(BlanchedAlmond,#ffc6af);
    background-attachment: fixed;
    background-size: cover;
    margin: 50px;
}
h1, h2 {
    text-align: center;
    font-family: "Monaco", monospace;
}
h1 {
    color: PaleVioletRed;
}
h2{
    color: SandyBrown;
}
h3, p{
   text-align: left;
   font-family: "Monaco", monospace;
}
h3{
    font-weight: bold;
    color: DarkMagenta;
}
h3.album{
    text-align:center;
}
p{
    color: Black;
}
nav {
    text-align: center;
    margin: 0px;
    font-family: "Monaco", monospace;
    font-size: 18px;
    font-weight: 400;
}
nav ul.nav {
    margin: 0;
    padding: 0;
}
nav, ul, li.toc{
    display: inline;
    list-style-type: none;
}
li.toc {
    padding-left: 35px;
    padding-top: 6px;
    padding-bottom: 6px;
}
a:link {
    text-decoration: none;
    color: LightPink;
}
a:hover {
    text-decoration: none;
    color: white;
}
section {
    padding: 10px;
    display: flex;
    justify-content:space-evenly;
    background-color: PaleVioletRed;
    position: sticky; 
}

div.dropdown, div.dropdown-content{
    background-color: PaleVioletRed;   
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
 }

/* select an excerpt button */

button.dropbtn {
  justify-content:space-evenly;
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: PaleVioletRed;
  color: LightPink;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-decoration: none;
  font-family: "Monaco", monospace;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  margin-left: 0%
}


.dropbtn {
  background-color: PaleVioletRed;
  justify-content:space-evenly;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-family: "Monaco", monospace;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  margin-left: 0%
}

/* actual stuff which drops down from button */

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}


.dropdown-content {
  display: none;
  position: absolute;
  vertical-align: middle;
  left: 0px;
  background-color: PaleVioletRed;
  min-width: 300px;
  z-index: 1;
}


.dropdown-content a {
  color: #003559;
  background-color: LightPink;
  padding: 12px 16px;
  font-family: "Monaco", monospace;
  font-size: 16px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {background-color: #fff0d6; color: #003559;}

.dropdown:hover .dropdown-content {display: block;}

/* reading view with toggle menu  */

p.meta{
    text-align:center;
    font-weight:bold;
}
div.imageryMenu{
    position: fixed;
    left: 120px;
    width: 7%;
    background-color: SandyBrown; 
    color: black;
    padding: 15px;
    margin-top: 20px;
}
div.lyrics{
      margin-left: auto;
      margin-right: auto;
     width: 50%;
     background-color: #fff7eb;
     padding: 25px;
}
ul.images {
    list-style-type:none;
    padding-left:5px;
    display: block;
    }
    
p.earth{
     color:ForestGreen;
     display:inline;
 }
p.water{
     color:DodgerBlue;
     display:inline;
 }
p.space{
     color:DarkBlue;
     display:inline;
 }
p.air{
     color:DeepPink;
     display:inline;
 }
p.fire{
     color:OrangeRed;
     display:inline;
 }
p.spirit{
     color:MediumPurple;
     display:inline;
 }
div.lyric{
    margin-top:15px;
}

/*********************/
/* pop up container */
/*******************/
span.tooltip {
    position: relative;                                  /* is position relative and if so, what to? */
    display: inline;                                     /* how will the text which triggers the pop up behave with regards to height/width? */
}

/******************************/
/* Pop up and text within it */
/****************************/
span.tooltip span.tooltiptext {
  visibility: hidden;                                    /* the pop up is hidden by default until toggled otherwise */
  min-width: 40px;                                       /* sets minimum width, useful for cases with long pop up messages */
  background-color: PaleVioletRed;                               /* pop up box color */
  color: white;                                            /* text color inside pop up box */
  text-align: center;                                    /* spaces how text is aligned inside of the pop up */
  padding: 3px;                                          /* how much space surrounds the text inside of the pop up */
  border-radius: 6px;                                    /* controls how rounded the pop up is (bigger numbers make box more rounded) */
  position: absolute;                                    /* where is it with regards to the text? absolute keeps it fixed above it */
  bottom: 125%;                                          /* spaces where the pop up appears on the y-axis */
  margin-left: -50%;                                     /* spaces where the pop up appears on the x-axis */

  /* Fade in tooltip */
  
  opacity: 0;                                            /* how transparent/opaque is it? 0 is completely transparent (invisible) and 1 is fully opaque (visible) */
  transition: opacity 0.3s;                              /* what is changing and how long does it take? */
}

/************************/
/* little pop up arrow */
/**********************/
.tooltip .tooltiptext::after {
  content: "";                                           /* there is no content inside of the arrow */
  position: absolute;                                    /* where is it with regards to the text? absolute keeps it fixed above */
  top: 100%;                                             /* spaces where the pop up appears on the y-axis */
  margin-left: -50%;                                     /* spaces where the pop up appears on the x-axis */
  border-width: 5px;                                     /* how big is the arrow */
  border-style: solid;                                   /* arrow is filled in */
  border-color: PaleVioletRed transparent transparent transparent; /* color of arrow. it's actually part of a rectangle, try changing the other values */
}

/********************/
/*  hover feature  */
/******************/
span.tooltip:hover span.tooltiptext {
  visibility: visible;                                   /* when the tooltip span is hovered over, visibility is toggled on */
  opacity: 1;                                            /* how transparent/opaque is it? 0 is completely transparent (invisible) and 1 is fully opaque (visible) */
}