body {
    background-color: BlanchedAlmond;
    background-image: linear-gradient(BlanchedAlmond,#ffc6af);
    background-attachment: fixed;
    background-size: cover;
    margin: 50px;
}
h1, h2 {
    text-align: center;
    font-family: "Monaco", monospace;
}
h1 {
    color: PaleVioletRed;
}
h2{
    color: SandyBrown;
}
h3, p{
   text-align: left;
   font-family: "Monaco", monospace;
}
h3{
    font-weight: bold;
    color: DarkMagenta;
}
p{
    color: Black;
}
nav {
    text-align: center;
    margin: 0px;
    font-family: "Monaco", monospace;
    font-size: 18px;
    font-weight: 400;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
}
li {
    padding-left: 35px;
    padding-top: 6px;
    padding-bottom: 6px;
}
a:link {
    text-decoration: none;
    color: LightPink;
}
a:hover {
    text-decoration: none;
    color: white;
}
section {
    padding: 10px;
    display: flex;
    justify-content:space-evenly;
    background-color: PaleVioletRed;
    position: sticky; 
}
   